<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Common Toolchain -->
    <package id="git" version="2.30.0.2" />
    <package id="awscli" version="2.1.23" />

    <!-- Visual Studio 2019 Toolchain -->
    <package id="nuget.commandline" version="5.8.1" />
    <package id="visualstudio2019buildtools" version="16.8.4.0" />
    <package id="visualstudio2019testagent" version="16.8.4.0" />
    <package id="webdeploy" version="3.6.20170627" />
    <package id="wixtoolset" version="3.11.2" />

    <!-- .NET Framework Targeting Assemblies -->
    <package id="netfx-4.5.2-devpack" version="4.5.5165101.20180721" />
    <package id="netfx-4.6.2-devpack" version="4.6.01590.20190930" />
    <package id="netfx-4.7.2-devpack" version="4.7.2.20190225" />
    <package id="netfx-4.8-devpack" version="4.8.0.20190930" />

    <!-- .NET Core -->
    <package id="dotnetcore-sdk" version="3.1.405" />
    <package id="dotnet-sdk" version="5.0.102" />
</packages>